.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 7s linear;
	height: 64px;
}

.App-header {
	flex-direction: row;
	background-color: #222;
	height: 100px;
	padding: 20px;
	color: white;

	 {
		flex: 1;
	}
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	/* font-size: large; */
	font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond,
		'Hoefler Text', 'Bitstream Charter', Georgia, serif;
}

.App-desciption {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Item-info {
	padding-left: 10px;
	padding-right: 10px;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
